body { width: 400px; margin: 20px 30px; }

#dots { float: left; padding-right: 40px; }
#slashes { float: left; padding-right: 40px; }
#custom { display: none; }
input[type="radio"] { margin-right: 5px; }

input[type="text"].disabled { background-color: #ddd; color: gray; cursor: hand; }

.center { text-align: center; }

a.secondary { font-size: small; color: lightskyblue; }
